In [63]:
import numpy as np
import pandas as pd

In [64]:
df = pd.read_json('.\sample_product.json')

In [31]:
df.product_addl_info[0][0]['info']

'Product Dimensions'

In [65]:
columns = []
for i in range(len(df)):
    for j in df.product_addl_info[i]:
        columns.append(j['info'])

columns = list(set(columns))
    #print(df.product_addl_info[i][0])
columns.remove('Customer Reviews')
print(columns)

['Product Dimensions', 'Manufacturer', 'Item model number', 'Item Weight', 'ASIN', 'Best Sellers Rank', 'Package Dimensions', 'Date First Available']

In [66]:
new = pd.DataFrame(columns=columns)

In [67]:
new

Empty DataFrame
Columns: [Product Dimensions, Manufacturer, Item model number, Item Weight, ASIN, Best Sellers Rank, Package Dimensions, Date First Available]
Index: []

In [32]:
df.product_addl_info[0][0]

{'info': 'Product Dimensions', 'value': '13.33 x 0.7 x 0.2 inches'}

In [68]:
for i in range(len(df)):
    for j in df.product_addl_info[i]:
        #info = j['info']
        #value = j['value']
        #print(info, value)
        new.loc[i, j['info']] = j['value']

In [71]:
new = new.drop(columns=['Customer Reviews'])

In [72]:
new

,Product Dimensions,Manufacturer,Item model number,Item Weight,ASIN,Best Sellers Rank,Package Dimensions,Date First Available
0,13.33 x 0.7 x 0.2 inches,EVanlak,NaN,0.352 ounces,B07YLQZXKY,#850 in Computer Graphics Cards,NaN,"October 1, 2019"
1,NaN,EKWB,3831109819272,1.6 pounds,B085NBFXFT,"#3,135 in Water Cooling Systems",7 x 5.25 x 3.75 inches,"March 9, 2020"
2,NaN,NaN,NaN,NaN,B07SXMZLP9,#4 in Computer CPU Processors,NaN,"July 1, 2019"
3,NaN,NaN,NaN,NaN,B07SXMZLP9,#4 in Computer CPU Processors,NaN,"July 1, 2019"